:root {
  --lightblue: #2196f3;
  --white: #ffffff;
  --white-secondary: #f5f4fa;
  --grey: #2f303a;
  --black: #212121;
  --light-grey: #757575;
  --light-grey-secondary: #afb1b8;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

h4 {
  color: #212121;
  font-weight: bold;
  margin-top: 30px;
}
h2 {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

section {
  z-index: -1;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.container--footer {
  padding-top: 60px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  gap: 70px;
}

/* WHOLE HEADER */
.card__header {
  border-bottom: 1px solid;
  border-color: #ececec;
}
.card__wrapper {
  display: flex;
}

.header__portfolio {
  display: flex;
  border-bottom: 1px solid;
  border-color: #ececec;
  margin-bottom: 100px;
}

/* HEADER LOGO  */
.card__logo {
  display: flex;
  margin-right: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--lightblue);
  font-size: 31px;
  display: flex;
}
.logo__primary {
  color: var(--lightblue);
}
.logo__secondary {
  color: #212121;
}
.logo__secondary--footer {
  color: var(--white);
}

/* HEADER NAVI  */
.card__navi {
  display: flex;
}

.card__navi .telheader:hover .tel-icon,
.telheader:focus .tel-icon {
  color: var(--lightblue);
  fill: var(--lightblue);
}

.card__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  margin-right: 227px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.card__agencja {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__agencja:hover,
.card__agencja:focus {
  color: var(--lightblue);
}

.card__agencja::after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  top: 76px;
}

.card__portfolio {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__portfolio:hover,
.card__portfolio:focus {
  color: var(--lightblue);
}

.card__kontakt {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__kontakt:hover,
.card__kontakt:focus {
  color: var(--lightblue);
}

.card__contact {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  font-weight: 500;
}

.card__mail {
  color: #757575;
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__mail:hover,
.card__mail:focus {
  color: var(--lightblue);
  fill: var(--lightblue);
}

.card__contact--icons {
  --color2: #757575;
  --color5: #757575;
}

.card__tel {
  color: #757575;
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__tel:hover,
.card__tel:focus {
  color: var(--lightblue);
}

/* !MAIN! */
/* SECTION TITLE */
.card {
  margin: 0 auto;
  background-color: #2f303a;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  padding: 200px 452px 280px 452px;
  background: linear-gradient(to top, rgba(47, 48, 58), rgba(47, 48, 58, 0.4)),
    url("../images/background1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  background-color: #2f303a;
}

.primarybutton {
  background-color: var(--lightblue);
  width: 200px;
  height: 50px;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
}

.primarybutton--transition {
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primarybutton--transition:hover,
.primarybutton--transition:focus {
  background-color: var(--white);
  color: var(--lightblue);
}

.card__title {
  font-size: 44px;
}

/* MAIN LIST  */
.card__list {
  display: flex;
  color: #757575;
  font-weight: 400;
  line-height: 1.7;
  max-width: 1170px;
  align-content: space-between;
  gap: 30px;
}

.card__list--svg {
  height: 120px;
  width: 270px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-top: 94px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 102.34px;
}

.card__list--text {
  margin-top: 10px;
}

/* MAIN JOBS */

.card__jobs {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 94px;
  position: relative;
}

.card__jobs--description {
  position: absolute;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  color: var(--white);
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN TEAM */

.card__team {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-bottom: 94px;
}

.card__pictures {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture {
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.picture__name {
  font-size: 16px;
  text-align: center;
}
.picture__job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* MAIN TEAM SOCIALS  */
.picture__links {
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 10px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.picture__svg {
  display: flex;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture__svg:hover,
.picture__svg:focus {
  cursor: pointer;
  fill: var(--white);
  background-color: #2196f3;
}

/* MAIN CLIENTS  */
.clients {
  margin-top: 50px;
  display: flex;
  align-items: center;
  align-content: space-between;
  gap: 30px;
}

.clients__list {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clients__svg {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  cursor: pointer;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list:hover .clients__svg,
.clients__list:focus .clients__svg {
  border-color: var(--lightblue);
  fill: var(--lightblue);
}

.clients__list:hover,
.clients__list:focus {
  border-color: var(--lightblue);
  fill: var(--lightblue);
}

.clients__svg:hover,
.clients__svg:focus {
  fill: var(--lightblue);
}

/* !FOOTER! */

/* FOOTER ADRESS  */
.card__footer {
  background-color: var(--grey);
  padding-bottom: 60px;
  margin-top: 94px;
  padding-top: 60px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  gap: 70px;
}

.card__address {
  color: var(--white);
  display: block;
  line-height: 24px;
  max-width: 246px;
  margin-right: 0;
}
.mail {
  text-decoration: none;
  color: var(--white);
}

.telelephone {
  text-decoration: none;
  color: var(--white);
  margin-top: 9px;
}

/* FOOTER SOCIALS  */

.card__socialblock {
  margin-top: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
}

.picture__links--footer {
  margin: 0;
}

.picture__svg--footer {
  margin-top: 20px;
  fill: var(--white);
  background-color: #686565;
}

.picture__svg--footer:hover,
.picture__svg--footer:focus {
  cursor: pointer;
  background-color: var(--lightblue);
  fill: var(--white);
}

/* FOOTER NEWSLETTER*/

.card__newsletter {
  margin-top: 12px;
}

.newsletter__title {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.newsletter__input {
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--white);
  transition: border-color var(--cubic-bezier);
}
.newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
}

.newsletter__input:focus {
  outline: 0;
  border-color: var(--lightblue);
}

.primarybutton--footer {
  margin-left: 12px;
  position: relative;
}

.newsletter__icon {
  visibility: hidden;
  fill: var(--white);
  top: 2px;
}
.newsletter__icon--support {
  position: absolute;
  fill: var(--white);
  top: 14px;
  right: 28px;
}

/* !MODAL! */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.is-hidden {
  transform: scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  margin: auto;
  margin-top: 221px;
  border-radius: 4px;
  background-color: var(--white);
  position: relative;
  padding: 40px;
  display: block;
}

.modal__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

/* MODAL FORM  */
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0.75rem;
}

.primarybutton--modal {
  margin-top: 30px;
  letter-spacing: 0.06rem;
  line-height: 30px;
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input--comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 0;
}

.modal__icon {
  position: absolute;
  top: 30px;
  left: 15px;
  cursor: pointer;
}
.modal__input:focus {
  outline: none;
  border-color: var(--lightblue);
}

.modal__label:has(.modal__input:focus) .modal__icon {
  fill: var(--lightblue);
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL CONDITIONS  */

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}
.modal__label--conditions {
  max-width: 419px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  line-height: 146%;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 20px;
}

.modal__checkboxborder--support {
  width: 0;
  height: 0;
  visibility: hidden;
}

.modal__condition {
  color: var(--lightblue);
}

.modal__checkboxborder {
  position: absolute;
  left: 0;
  top: 3px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkboxborder--support:checked {
  color: white;
}

.modal__label--conditions:has(input:checked) span .modal__checkboxborder {
  fill: var(--lightblue);
  background-color: var(--lightblue);
  border-radius: 2px;
}

.modal__checkmark {
  position: absolute;
  left: 2px;
  top: 6px;
  fill: white;
}

/* PORTFOLIO CARD  */
/* PORTFOLIO HEADER  */
.card__agencja--line::after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  top: 76px;
}
.card__agencja--underline::after {
  visibility: hidden;
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  top: 76px;
}

.card__portfolio--line::after {
  content: "";
  display: block;
  width: 58px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  top: 76px;
}

/* .kontakt::after {
  content: "";
  display: block;
  width: 58px;
  height: 4px;
  background-color: var(--lightblue);
  border-radius: 2px;
  position: absolute;
  left: 656;
  top: 76px;
} */

/* PORTFOLIO MAIN CARD  */

/* PORTFOLIO BUTTONS  */

.card__button-positioning {
  padding-top: 94px;
  display: flex;
  flex-grow: 1;
  width: 572px;
  max-width: 50%;
  margin-top: 94px;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  align-content: center;
}

.card__filter-button {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__filter-button:hover,
.card__filter-button:focus {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--lightblue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO MAIN SECTION  */
.card__net {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 30px 30px;
}
.net__object {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.net__object:hover,
.net__object:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.net__image--hover {
  position: relative;
  overflow: hidden;
}

.net__text--hover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 45px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.net__border {
  padding-bottom: 20px;
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.net__object:hover .net__text--hover {
  transform: translateY(0);
}

.net__title {
  width: 322px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 20px;
}

.net__desctiption {
  width: 322px;
  height: 30px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-left: 24px;
  margin-top: 4px;
}
